.form {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #00509D;
  color: #d5e2ef;

  h1 {
    margin-bottom: 40px;
  }

  a {
    color: #80a8ce;
    margin-bottom: 20px;

    &:hover {
      color: #d5e2ef;
    }
  }

  input {
    font-size: 1em;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: #3d3b30;
  }

  input:focus {
    outline: none;
  }

  div.input {
    position: relative;
    width: 300px;
    margin-bottom: 20px;

    svg {
      font-size: 20px;
      position: absolute;
      display: none;
      top: 10px;
      left: 20px;
      color: #C40000;
    }

    p {
      display: none;
      padding: 0 15px;
      font-weight: bold;
      color: #FFA593;
    }

    input {
      width: 300px;
      height: 30px;
      padding: 20px;
      border-radius: 20px;
      background-color: #aac5de;
    }

    input:hover, input:focus {
      background-color: #D5E2EF;
    }
  }

  div.input + input[type='submit'] {
    margin-top: 10px;
  }

  input[type='submit'] {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FDC500;
  }

  input[type='submit']:hover, input[type='submit']:focus {
    background: radial-gradient(circle, #FFD543 0%, #FDC500 100%);
  }
}

.info {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  h1 {
    display: none;
    font-weight: bold;
  }

  h1:nth-child(2) {
    color: #FFA593;
  }
}