$navbar-height: 70px;
$aside-width: 250px;

$border-radius: 5px;

$font-family: 'Raleway';
$default-font: sans-serif;

$midnight-express: #011638;
$dimgray: #676767;
$suva-grey: #8B8B8B;
$nobel: #979797;
$gainsboro: #D8D8D8;
$ivory: #FFFFFA;
$festival: #EEC643;
$golden-poppy: #FDC500;
$golden-poppy01: rgba(253, 197, 0, 0.1);