@import '../../variables';

.newCourse {
  * {
    font-family: $font-family, $default-font;
  }

  header {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 20px 40px 10px 40px;
    background-color: $midnight-express;
    color: $ivory;

    input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: $ivory;
      font-weight: bold;
      text-align: end;

      &:nth-child(1) {
        font-size: 2em;
      }
      &:nth-child(2) {
        font-size: 1.17em;
      }
    }

    div {
      width: 60%;
      height: 70px;
      position: absolute;
      top: 100px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: $festival;
      color: $midnight-express;

      textarea {
        max-height: 100%;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-color: transparent;
      }
    }
  }

  main {
    min-height: calc(100vh - #{$navbar-height} - 150px - 150px);
    padding: 50px;
  }

  footer {
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-color: $midnight-express;

    button {
      width: 100px;
      padding: 10px;
      margin-right: 20px;
      border: none;
      border-radius: $border-radius;

      &:nth-child(1) {
        background-color: $gainsboro;
        color: $dimgray;
      }

      &:nth-child(2) {
        background-color: $festival;

        &:hover {
          background: radial-gradient(circle, #FFD543 0%, $festival 100%);
        }
      }
    }
  }
}